<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Main Menu of STEM Translate -->
        <menuitem id="translate_main_menu" name="STEM Translate" />

        <!-- Translate request -->
        <menuitem id="translate_request_menu" parent="translate_main_menu" name="Translate request" action="translate_request_list_action"/>

        <!-- Your translate -->
        <menuitem id="your_translate_menu" parent="translate_main_menu" name="Your translate" action="your_translate_list_action"/>
    </data>
</odoo>
